@import 'neat/app/assets/stylesheets/neat-helpers';

// Colors
$white: #fff;
$black: #000;
$blue: #00c9ea;
$teal: #00ffeb;
$dijon: #ffd999;
$salmon: #f26c77;
$sky: #4a90e2;
$mint: #92fff4;
$grass: #50e3c2;
$purple: #49426e;
$cream: #f26c77;
$spot-color: $teal;

// Grid
$column: 100px;
$grid-columns: 12;
$gutter: 40px;
$max-width: 1200px;
$visual-grid: false;
$visual-grid-index: front;

// Breakpoints
$mobile-size: 459px;
$phablet-size: 767px;
$tablet-size: 1025px;
$desktop-size: 1430px;

$mobile: new-breakpoint(max-width $mobile-size);
$phablet-min: new-breakpoint(min-width $mobile-size + 1);
$phablet: new-breakpoint(max-width $phablet-size);
$phablet-landscape: new-breakpoint(max-width $phablet-size orientation 'landscape');
$tablet-min: new-breakpoint(min-width $phablet-size + 1);
$tablet: new-breakpoint(max-width $tablet-size);
$desktop-min: new-breakpoint(min-width $tablet-size + 1);
$desktop: new-breakpoint(max-width $desktop-size);


// More variables
$header-h: 156px;
$power2-ease-out: cubic-bezier(0.2, 0.485, 0.205, 1);
$site-gutter: 144px;
$site-gutter-mobile: 40px;
$transition-speed: 0.3s;
