*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

html {
    color: $black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

[ui-view] {
    opacity: 0;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
}
