<div
    class="transportation"
    id="transportation">
	<div class="transportation__inner">
        <div class="weekend__image-container">
            <div class="transportation__image">
                <div
                    class="transportation__image__icon"
                    ng-include="'assets/img/travel.svg'">
                </div>
            </div>
        </div>
        <div class="transportation__title">
            Transportation
        </div>
        <div class="transportation__item">
            <div class="transportation__item__subtitle">
                Airports
            </div>
            <div class="transportation__item__body">
                We recommend flying into either SFO (San Francisco International Airport) or OAK (Oakland International Airport), depending on where you are staying. Both are on public transportation lines.
            </div>
        </div>
        <div class="transportation__item">
            <div class="transportation__item__subtitle">
                Getting Around the Area
            </div>
            <div class="transportation__item__body">
                Renting a car is not necessary. Between public transportation (BART between SF and Oakland, and MUNI within SF) and Lyft (Uber’s friendlier rival), there are decent transit options for getting where you will need to go for the weekend.
            </div>
        </div>
        <div class="transportation__note">
            Note: If you haven’t used Lyft before, use Jonny’s referral code to get a discount on your first ride: JONNY105776
        </div>
    </div>
</div>
