<div class="transportation">
	<div class="transportation__inner">
        <div class="weekend__image-container">
            <div class="transportation__image">
                <div
                    class="transportation__image__icon"
                    ng-include="'assets/img/travel.svg'">
                </div>
            </div>
        </div>
        <div class="transportation__title">
            Transportation
        </div>
        <div class="transportation__item">
            <div class="transportation__item__subtitle">
                Airports
            </div>
            <div class="transportation__item__body">
                hdvdvhjvdjsv
            </div>
        </div>
        <div class="transportation__item">
            <div class="transportation__item__subtitle">
                sbc
            </div>
            <div class="transportation__item__body">
                sdbcaj,d
            </div>
        </div>
        <div class="transportation__note">
            kladvhjvdi
        </div>
    </div>
</div>
