.home {

    .home-celebrate {
        background-color: $blue;
    }

    .home-weekend {
        background-color: $dijon;
    }

    .home-accommodations {
        background-color: $sky;
    }

    .home-transportation {
        background-color: $grass;
    }

    .home-gifts {
        background-color: $salmon;
    }

    .home-closing {
        background-color: $blue;
    }
}
