.home {

    .home__logo-btn {
        @include position(fixed, null null 40px 40px);
        @include size(164px);
        display: none;
        z-index: 10;

        @include media($phablet) {
            display: none;
        }

        svg {
            @include align-all(absolute);
            @include size(100%);
            fill: $white;
        }
    }

    .home-celebrate {
        background-color: $blue;
    }

    .home-weekend {
        background-color: $dijon;
    }

    .home-accommodations {
        background-color: $sky;
    }

    .home-transportation {
        background-color: $grass;
    }

    .home-gifts {
        background-color: $salmon;
    }

    .home-closing {
        background-color: $blue;
    }
}
