<div class="closing">
	<div class="closing__inner">
        <div class="closing__body">
            Thank you Yuji for making this incredible website. Deeply creative friends like you never cease to amaze and inspire! <br>Thank you to everyone who is stepping up to take on different projects over the weekend. It takes a village! <br>Thank you to our families --especially the parents, Susan and Alvin, and, Judi and Jim-- for pitching in to make the weekend (well, and life…) possible. Love you!
        </div>
        <div class="closing-sendoff">
            See you in October!
        </div>
        <div class="closing-name">
            alex & johnny
        </div>
    </div>
</div>
