<div
    class="weekend"
    id="weekend">
	<div class="weekend__inner">
        <div class="weekend__image-container">
            <div class="weekend__image">
                <div
                    class="weekend__image__icon"
                    ng-include="'assets/img/smiley.svg'">
                </div>
            </div>
        </div>
        <div class="weekend__title">
            The Weekend
        </div>
        <div class="weekend__description">
            We are so excited to be sharing our big weekend with all of you! As we get closer to October, this will be the place to get all of the latest information and details.
        </div>
        <div class="weekend__benchmarks">
            <div class="weekend__benchmark">
                <div class="weekend__benchmarks__date">
                    Fri, Oct. 13th
                </div>
                <div class="weekend__benchmarks__item">
                    <div class="weekend__benchmarks__item__inner">
                        <h3 class="weekend__benchmarks__title">
                            Oh Hey, San Francisco!
                        </h3>
                        <div class="weekend__benchmarks__description">
                            Where: The Castro, SF
                        </div>
                        <div class="weekend__benchmarks__body">
                            Stop by and hang out with us in the Castro Friday evening! We’d love to see you and introduce you to all of our amazing friends and family.
                        </div>
                    </div>
                </div>
            </div>
            <div class="weekend__benchmark">
                <div class="weekend__benchmarks__date">
                    Sat, Oct. 14th
                </div>
                <div class="weekend__benchmarks__item">
                    <div class="weekend__benchmarks__item__inner">
                        <h3 class="weekend__benchmarks__title">
                            Morning: Adventures!
                        </h3>
                        <div class="weekend__benchmarks__description">
                            Where: You pick! Duboce Park (San Francisco) near the playground OR Lake Merritt (Oakland) near Lake Merritt Amphitheater
                        </div>
                        <div class="weekend__benchmarks__body">
                            Meet up for morning snacks before exploring the area with our amazing friends who will be hosting local adventures (sign-ups for specific adventures forthcoming!)
                        </div>
                        <h3 class="weekend__benchmarks__title weekend__benchmarks__title--two">
                            Evening: The Main Event!
                        </h3>
                        <div class="weekend__benchmarks__description">
                            Where: Starline Social Club, Oakland
                        </div>
                        <div class="weekend__benchmarks__body">
                            sdhjkdjsbkbjds
                        </div>
                    </div>
                </div>
            </div>
            <div class="weekend__benchmark">
                <div class="weekend__benchmarks__date">
                    Sun, Oct. 15th
                </div>
                <div class="weekend__benchmarks__item">
                    <div class="weekend__benchmarks__item__inner">
                        <h3 class="weekend__benchmarks__title">
                            Afternoon in the Park!
                        </h3>
                        <div class="weekend__benchmarks__description">
                            Where: Duboce Park, San Francisco
                        </div>
                        <div class="weekend__benchmarks__body">
                            Join us for a leisurely Sunday afternoon in Duboce Park, featuring games and snacks.
                        </div>
                    </div>
                </div>
            </div>
            <div class="weekend__benchmark">
                <div class="weekend__benchmarks__date">
                    kekdfssvjkd
                </div>
                <div class="weekend__benchmarks__item">
                    <div class="weekend__benchmarks__item__inner">
                        <h3 class="weekend__benchmarks__title">
                            Off to Russian River!
                        </h3>
                        <div class="weekend__benchmarks__description">
                            Where: Guerneville area, ~2 hours north of San Francisco
                        </div>
                        <div class="weekend__benchmarks__body">
                            If you’re able, we’d love to have you join us for continued fun! We’ll head up to the Russian River for rafting and relaxation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
