.weekend {
    color: $salmon;
}

.weekend__inner {
    @extend %slice;
    @include outer-container(1000px);

    @include media($phablet) {
        @include padding(60px 20px 68px);
    }
}

.weekend__image-container {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.weekend__image {
    @include svg(89px, 89px);
    display: inline-block;
    position: relative;
    top: 2px;
    z-index: 1;
}

.weekend__benchmarks__title,
.weekend__benchmarks__description,
.weekend__benchmarks__body {
    display: block;
}

.weekend__benchmarks__item__inner {
    width: 100%;
    // padding: 25px;
}

.weekend__title {
    @extend %h1;
    margin-bottom: 44px;
    text-align: center;
}

.weekend__description {
    @extend %h3;
    margin-bottom: 100px;
}

.weekend__benchmarks__title {
    @extend %h3-a;
}

.weekend__benchmarks__title--two {
    margin-top: 40px;
}

.weekend__benchmark {
    @include display(flex);
    @include flex-wrap(wrap);
    @include outer-container;

    & + & {
        margin-top: 75px;
    }
}

.weekend__benchmarks__date,
.weekend__benchmarks__item {
    @include display(flex);
    width: 50%;

    @include media($phablet) {
        width: 100%;
    }
}

.weekend__benchmarks__date {
    @extend %h1;
}

.weekend__benchmarks__description {
    @extend %h4-a;
    margin-bottom: 35px;
}

.weekend__benchmarks__body {
    @extend %h5;
}
