<div class="header">
	<div class="header__inner">
        <span class="header__logo">
            <img
                src="assets/img/logo.png">
        </span>
        <div class="header__menu">
            <a
                class="header__link"
                href="#weekend"
                id="weekend--button">
                The Weekend
            </a>
            <a
                class="header__link"
                href="#accomodations"
                id="accomodations--button">
                Where to Stay
            </a>
            <a
                class="header__link"
                href="#transportation"
                id="transportation--button">
                Transportation
            </a>
            <a
                class="header__link"
                href="#gifts"
                id="gifts--button">
                Gifts
            </a>
        </div>
    </div>
</div>
