<div class="header">
	<div class="header__inner">
        <span class="header__logo">
            <img
                src="assets/img/logo.png">
        </span>
        <div class="header__menu">
            <a
                class="header__link"
                href="#"
                id="">
                The Weekend
            </a>
            <a
                class="header__link"
                href="#"
                id="">
                Where to Stay
            </a>
            <a
                class="header__link"
                href="#"
                id="">
                Transportation
            </a>
            <a
                class="header__link"
                href="#"
                id="">
                Gifts
            </a>
        </div>
    </div>
</div>
