<div class="header">
	<div class="header__inner">
        <div class="header__title">
            alex & jonny
        </div>
        <div class="header__menu">
            <a
                class="header__link"
                href="#"
                id="">
                The Weekend
            </a>
            <a
                class="header__link"
                href="#"
                id="">
                Where to Stay
            </a>
            <a
                class="header__link"
                href="#"
                id="">
                Transportation
            </a>
            <a
                class="header__link"
                href="#"
                id="">
                Gifts
            </a>
        </div>
    </div>
</div>
