.header {
    background-color: rgba($blue, 0.5);
    color: $teal;
    text-align: center;
}


.header__inner {
    @extend %h-padding;
}

.header__title {
    @extend %h2;
    position: relative;
    padding-top: 24px;
}

.header__menu {
    margin-top: 24px;
}

.header__link {
    @extend %h4;
    @include padding(7px 5px);
    color: $teal;

    & + & {
        margin-left: 27px;
    }
}
