<div class="celebrate">
    <div class="celebrate__inner">
        <div class="weekend__image-container"></div>
            <div class="celebrate__image">
                <div
                    class="celebrate__image__icon"
                    ng-include="'assets/img/celebrate.svg'">
                </div>
            </div>
            <div class="celebrate__date">
                October 13-15, 2017
            </div>
            <div class="celebrate__location">
                San Francisco + Oakland, CA
            </div>
        </div>
    </div>
</div>
