.celebrate {
    color: $teal;
    margin-top: -$header-h;
    padding-top: $header-h;
    text-align: center;
}

.celebrate__inner {
    @extend %slice;
    @include outer-container(1000px);
    @include row;

    @include media($phablet) {
        @include padding(60px 20px 68px);
    }
}

.celebrate__title {
    @extend %big;
    display: inline-block;
}

.celebrate__date {
    @extend %h1;
}

.celebrate__location {
    @extend %h1-a;
}

.celebrate__image {
    @include svg(100%, 149px);
    display: inline-block;
    position: relative;
    top: 2px;
    z-index: 1;
}
