.celebrate {
    color: $teal;
    margin-top: -$header-h;
    padding-top: $header-h;
    text-align: center;
}

.celebrate__inner {
    @extend %slice;
    @include row;
}

.celebrate__title {
    @extend %big;
}

.celebrate__date {
    @extend %h1;
}

.celebrate__location {
    @extend %h1-a;
}


