.gifts {
    color: $dijon;
}

.gifts__inner {
    @extend %slice;
    @include outer-container(1000px);
    @include row;

    @include media($phablet) {
        @include padding(60px 20px 68px);
    }
}

.gifts__image {
    @include svg(114px, 106px);
    display: inline-block;
    position: relative;
    top: 2px;
    z-index: 1;

    @include media($phablet) {
        @include svg(74px, 86px);
    }
}

.gifts__title {
    @extend %h1;
    text-align: center;
}

.gifts__body {
    @extend %h3;
    margin-top: 44px;
}

.gifts__linksb {
    margin-top: 40px;
}

.gifts__link {
    @include padding(40px null);
    text-align: center;
    display: block;

    & + & {
        border-top: 1px solid $dijon;
    }

    @include media($phablet) {
        @include padding(20px null);
    }
}

.gift__title {
    @extend %h1;
}

.gift__desc {
    @extend %h4-a;
    margin-top: 5px;
}

.gift__title,
.gift__desc {
    display: block;
}
