<div
    class="gifts"
    id="gifts">
	<div class="gifts__inner">
        <div class="weekend__image-container">
            <div class="gifts__image">
                <div
                    class="gifts__image__icon"
                    ng-include="'assets/img/gifts.svg'">
                </div>
            </div>
        </div>
        <div class="gifts__title">
            Gifts
        </div>
        <div class="gifts__body">
            <span>
                A note on gifts - for us, your presence is the present. Honestly, please do not feel a need to give us anything in addition. We’re just excited to celebrate with you!
            </span>
            <span>
                A note on gifts - for us, your presence is the present. Honestly, please do not feel a need to give us anything in addition. We’re just excited to celebrate with you!
            </span>
        </div>
        <div class="gifts__links">
            <a class="gifts__link">
                <span class="gift__title">
                    Hamomi Children’s Centre
                </span>
                <span class="gift__desc">
                    Community center and school in Kenya
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Morris Jeff Community School
                </span>
                <span class="gift__desc">
                    Nationally recognized New Orleans charter school
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Tipping Point Community
                </span>
                <span class="gift__desc">
                    Poverty alleviation in the Bay Area
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    TechEquity Collaborative
                </span>
                <span class="gift__desc">
                    Making the Bay Area accessible to all
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Service Year Alliance
                </span>
                <span class="gift__desc">
                    Year of service for all Americans
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Global Health Corps
                </span>
                <span class="gift__desc">
                    Public health leadership development worldwide
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Manhattan Together
                </span>
                <span class="gift__desc">
                    Community organizing in New York City
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Together Baton Rouge
                </span>
                <span class="gift__desc">
                    Community organizing in Baton Rouge, LA
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Groundswell
                </span>
                <span class="gift__desc">
                    Community organizing for solar projects in DC & Baltimore
                </span>
            </a>
            <a class="gifts__link">
                <span class="gift__title">
                    Sammamish X Scholarship Fund
                </span>
                <span class="gift__desc">
                    Help a high school student from Alex's alma mater attend college
                </span>
            </a>
        </div>
    </div>
</div>
