<div class="accommodations">
	<div class="accommodations__inner">
        <div class="accommodations__title">
            Where To Stay
        </div>
        <div class="accommodations__description">
            <span>
                There are so many great places to stay in both San Francisco and Oakland. The weekend’s festivities are spread across both, so you will be fine staying in either one.
            </span>
            <span>
                We’ve put together wishlists of Airbnb’s that we’d recommend, along with hotel options if that’s more your style.
            </span>
        </div>
    </div>
</div>
