.accommodations {
    color: $mint;
}

.accommodations__inner {
    @extend %slice;
    @include outer-container(1000px);
    @include row;

    @include media($phablet) {
        @include padding(60px 20px 68px);
    }
}

.accommodations__image {
    @include svg(106px, 108px);
    display: inline-block;
    position: relative;
    top: 2px;
    z-index: 1;
}

.accommodations__title {
    @extend %h1;
    text-align: center;
}

.accommodations__description {
    @extend %h3;
    margin-top: 44px;
}

.accomodations__city__title {
    @extend %h1;
}

.accomodations__city-item {
    @include padding(40px null);

    & + & {
        border-top: 1px solid $mint;
    }

    @include media($phablet) {
        @include padding(20px null);
    }
}
