<div class="accommodations">
	<div class="accommodations__inner">
        <div class="weekend__image-container">
            <div class="weekend__image">
                <div
                    class="weekend__image__icon"
                    ng-include="'assets/img/place.svg'">
                </div>
            </div>
        </div>
        <div class="accommodations__title">
            Where To Stay
        </div>
        <div class="accommodations__description">
            <span>
                There are so many great places to stay in both San Francisco and Oakland. The weekend’s festivities are spread across both, so you will be fine staying in either one.
            </span>
            <span>
                We’ve put together wishlists of Airbnb’s that we’d recommend, along with hotel options if that’s more your style.
            </span>
        </div>
        <div class="accomodations__cities">
            <div
                class="accomodations__city-item"
                ng-repeat="city in cities">
                <div
                    class="accomodations__city-city"
                    place
                    place-data="city">
                </div>
            </div>
        </div>
    </div>
</div>
